@{
    Layout = null;
}
<style>
    div {
        border: 1px solid #000000;
        text-align: center;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">Header</div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">Content</div>
        <div class="col-md-4 col-sm-6">Sidebar</div>
        <div class="col-md-4 col-sm-12">Extra</div>
    </div>
    <div class="row">
        <div class="col-md-12">Footer</div>
    </div>
</div>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />