@model IEnumerable<WebApplication1.Models.Forecast>

@{
    ViewBag.Title = "ForecastGHI";
}

<h2>Total GHI in next 6 hours: @ViewBag.Total</h2>

<div>
    <img src="@Url.Action("Chart")" />
</div>
@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/MyJavascript.js"></script>
}
